{% extends 'public/base.html.twig' %}

{% block title %}Все группы{% endblock %}

{% block body %}
    <div class="container-lg mt-5">
        {% if groups|length > 0 %}
            {% for group in groups %}
                {{ include('public/group/_group.html.twig') }}
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
